<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <!--Mi CSS-->
    <link rel="stylesheet" href="/css/patientCreate.css">
</head>
<body>
    <header>
        <%- include('../partials/navBar.ejs') %>
        
    </header>
    
    <main class="container-fluid">
        <section class="row my-3">
            <article class="col-8 mx-auto mb-5">
                <h2 class="titulo-admin pb-3 border-bottom text-center pt-5 mx-auto text-uppercase">BÚSQUEDA INTELIGENTE</h2>
                </article>
        </section>
        <section class="container">
            <div class="row">
                <article id="crear" class="col-8 mx-auto">
                    <% if(typeof(errors) != 'undefined'){%>
                        <ul class="alert alert-danger">
                          <% errors.forEach(error => { %>
                            <li><%= error.msg%></li>
                            <%});%>
                        </ul>
                      <%}%>
                    <form action="/busquedaInteligente" method="POST">
                        <!--Nombre-->
                        <div class="form-group">
                            <input type="text" class="form-control  bg-light" name="nombre" placeholder="Nombre"  value="">
                        </div>
                        <!--Apellido-->
                        <div class="form-group">
                            <input type="text" class="form-control  bg-light" name="apellido" placeholder="Apellido"  value="">
                        </div>
                        
                        <div class="row">
                              <!--Género-->
                            <div class="form-group col-6" placeholder="Genero"  value="">
                                <select class="custom-select  bg-light"  name="genero">
                                    <option desabled value="">Seleccione género</option>
                                    <option value="femenino">Femenino</option>
                                    <option value="masculino">Masculino</option>
                                </select>
                            </div>
                            <!--Obra social-->
                            <div class="form-group col-6" placeholder="Obra Social"  value="">                                         
                            <input type="text" class="form-control  bg-light" name="obraSocial" placeholder="Obra Social"  value="">                                            
                            </div>
                            
                        </div>
                        <div class="form-group d-flex justify-content-between">                       
                            <select class="custom-select  bg-light"  name="diabetes">
                                <option desabled value="">Seleccione si tiene diabetes</option>
                                <option  value="si">Si</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                            <div class="form-group d-flex justify-content-between">                       
                                <select class="custom-select  bg-light"  name="dlp">
                                    <option desabled value="">Seleccione si tiene DLP</option>
                                    <option  value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="form-group d-flex justify-content-between">                       
                                <select class="custom-select  bg-light"  name="hta">
                                    <option desabled value="">Seleccione si tiene HTA</option>
                                    <option  value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="form-group d-flex justify-content-between">                       
                                <select class="custom-select  bg-light"  name="crm">
                                    <option desabled value="">Seleccione si tiene CRM</option>
                                    <option  value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="form-group d-flex justify-content-between">                       
                                <select class="custom-select  bg-light"  name="atc">
                                    <option desabled value="">Seleccione si tiene ATC</option>
                                    <option  value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="form-group d-flex justify-content-between">                       
                                <select class="custom-select  bg-light"  name="iam">
                                    <option desabled value="">Seleccione si tiene IAM</option>
                                    <option  value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="form-group d-flex justify-content-between">                       
                                <select class="custom-select  bg-light"  name="acv">
                                    <option desabled value="">Seleccione si tiene ACV</option>
                                    <option  value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="form-group d-flex justify-content-between">                       
                                <select class="custom-select  bg-light"  name="aneurisma">
                                    <option desabled value="">Seleccione si tiene aneurisma</option>
                                    <option  value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="form-group d-flex justify-content-between">                       
                                <select class="custom-select  bg-light"  name="ic">
                                    <option desabled value="">Seleccione si tiene IC</option>
                                    <option  value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="form-group d-flex justify-content-between">                       
                                <select class="custom-select  bg-light"  name="evp">
                                    <option desabled value="">Seleccione si tiene EVP</option>
                                    <option  value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="form-group d-flex justify-content-between">                       
                                <select class="custom-select  bg-light"  name="epoc">
                                    <option desabled value="">Seleccione si tiene EPOC</option>
                                    <option  value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="form-group d-flex justify-content-between">                       
                                <select class="custom-select  bg-light"  name="irc">
                                    <option desabled value="">Seleccione si tiene IRC</option>
                                    <option  value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="form-group d-flex justify-content-between">                       
                                <select class="custom-select  bg-light"  name="obesidad">
                                    <option desabled value="">Seleccione si tiene obesidad</option>
                                    <option  value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                         
                        </div>
                        <!--Botones guardar volver-->
                        <div class="form-group row d-flex justify-content-center mx-auto mt-5">
                            <button type="submit" class="btn btn-dark col-8 border-0 rounded-0">Buscar</button>
                        </div>
                        <div class="form-group row d-flex justify-content-center mx-auto">
                            <a href="/patients" class=" text-decoration-none text-body col-12 text-center pl-0">Volver</a>
                        </div>
                        
                        
                        
                    </form>
                </article>
            </div>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>