<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <!--Mi CSS-->
    <link rel="stylesheet" href="/css/patientCreate.css">
</head>
<body>
    <header>
        <%- include('../partials/navBar.ejs') %>
        
    </header>
    
    <main class="container-fluid">
        <section class="row my-3">
            <div class="card-body">
                <h1 class="col-8 mx-auto pb-3 card-title text-center border-bottom">CREAR NUEVO PACIENTE</h1>
            </div>
        </section>
        <section class="container">
            <div class="row">
                <article id="crear" class="col-8 mx-auto">
                    <% if(typeof(errors) != 'undefined'){%>
                        <ul class="alert alert-danger">
                          <% errors.forEach(error => { %>
                            <li><%= error.msg%></li>
                            <%});%>
                        </ul>
                      <%}%>
                    <form action="/patients/create" method="POST">
                        <!--Nombre-->
                        <div class="form-group">
                            <input type="text" class="form-control  bg-light" name="nombre" placeholder="Nombre"  value="">
                        </div>
                        <!--Apellido-->
                        <div class="form-group">
                            <input type="text" class="form-control  bg-light" name="apellido" placeholder="Apellido"  value="">
                        </div>
                        
                        <div class="row">
                            <!--Género-->
                            <div class="form-group col-6" placeholder="Genero"  value="">
                                <select class="custom-select  bg-light"  name="genero">
                                    <option value="femenino">Femenino</option>
                                    <option value="masculino">Masculino</option>
                                </select>
                            </div>
                            <!--Fecha de nacimiento-->
                            <div class="form-group col-6" placeholder="Nacimiento"  value="">
                            <input type="date" id="start" name="nacimiento" class="form-control  bg-light"
                            value=""
                            min="1940-01-01" max="2020-12-31">
                            </div>
                       
                            <!--Email-->
                            <div class="form-group col-7">
                                <input type="email" class="form-control bg-light" name="email" placeholder="Email"  value="">
                            </div>
                            <!--DNI-->
                            <div class="form-group col-5 pl-0">
                                <input type="number" class="form-control bg-light" name="dni" placeholder="DNI"  value="">
                            </div>
                          
                         <!--Obra social-->
                             <div class="form-group col-5">
                          <input type="text" class="form-control bg-light" name="obrasocial" placeholder="Obra Social"   value="">
                            </div>
                           <!--numero-->
                           <div class="form-group col-7 pl-0">
                           <input type="number" class="form-control bg-light" name="numero" placeholder="numero"  value="">
                           </div>

                            <!--Dirección-->
                            <div class="form-group col-6">
                                <input type="text" class="form-control bg-light" name="dirección" placeholder="Dirección"  value="">
                            </div>
                             <!--numero-->
                             <div class="form-group col-2 pl-0">
                                <input type="number" class="form-control bg-light" name="adress_number" placeholder="Número"  value="">
                            </div>
                            <!--Telefóno-->
                            <div class="form-group col-4 pl-0">
                                <input type="text" class="form-control bg-light" name="telefono" placeholder="Teléfono"  value="">
                            </div>
                        </div>
                        
                        <div class="form-group d-flex justify-content-between">                       
                            <span>DIABETES</span>                 
                           <label class="switch">
                            <input type="checkbox" name="diabetes">
                            <span class="slider round"></span>
                           </label>
                        </div>
                        <div class="form-group d-flex justify-content-between">                       
                            <span>DLP</span>                 
                           <label class="switch">
                            <input type="checkbox" name="dlp">
                            <span class="slider round"></span>
                           </label>
                        </div>
                        <div class="form-group d-flex justify-content-between">                       
                            <span>HTA</span>                 
                           <label class="switch">
                            <input type="checkbox" name="hta">
                            <span class="slider round"></span>
                           </label>
                        </div>
                        <div class="form-group d-flex justify-content-between">                       
                            <span>CRM</span>                 
                           <label class="switch">
                            <input type="checkbox" name="crm">
                            <span class="slider round"></span>
                           </label>
                        </div>
                        <div class="form-group d-flex justify-content-between">                       
                            <span>ATC</span>                 
                           <label class="switch">
                            <input type="checkbox" name="atc">
                            <span class="slider round"></span>
                           </label>
                        </div>
                        <div class="form-group d-flex justify-content-between">                       
                            <span>IAM</span>                 
                           <label class="switch">
                            <input type="checkbox" name="iam">
                            <span class="slider round"></span>
                           </label>
                        </div>
                        <div class="form-group d-flex justify-content-between">                       
                            <span>ACV</span>                 
                           <label class="switch">
                            <input type="checkbox" name="acv">
                            <span class="slider round"></span>
                           </label>
                        </div>
                        <div class="form-group d-flex justify-content-between">                       
                            <span>ANEURISMA AORTA</span>                 
                           <label class="switch">
                            <input type="checkbox" name="aneurisma">
                            <span class="slider round"></span>
                           </label>
                        </div>
                        <div class="form-group d-flex justify-content-between">                       
                            <span>IC</span>                 
                           <label class="switch">
                            <input type="checkbox" name="ic">
                            <span class="slider round"></span>
                           </label>
                        </div>
                        <div class="form-group d-flex justify-content-between">                       
                            <span>EVP</span>                 
                           <label class="switch">
                            <input type="checkbox" name="evp">
                            <span class="slider round"></span>
                           </label>
                        </div>
                        <div class="form-group d-flex justify-content-between">                       
                            <span>EPOC</span>                 
                           <label class="switch">
                            <input type="checkbox" name="epoc">
                            <span class="slider round"></span>
                           </label>
                        </div>
                        <div class="form-group d-flex justify-content-between">                       
                            <span>IRC</span>                 
                           <label class="switch">
                            <input type="checkbox" name="irc">
                            <span class="slider round"></span>
                           </label>
                        </div>
                        <div class="form-group d-flex justify-content-between">                       
                            <span>OBESIDAD</span>                 
                           <label class="switch">
                            <input type="checkbox" name="obesidad">
                            <span class="slider round"></span>
                           </label> 
                        </div>
                            <!--NHC-->
                            <div class="form-group">
                                <input type="text" class="form-control  bg-light" name="nhc" placeholder="NHC"  value="">
                            </div>
                        
                        <!--Sección-->
                            <div class="form-group">
                                <input type="text" class="form-control  bg-light" name="seccion" placeholder="Sección"  value="">
                            </div>
                        <!--comentario-->
                       <div class="form-group">
                           <input type="text" class="form-control  bg-light" name="visita_medica" placeholder="Comentarios sobre visita medica"  value="">
                       </div>
                        </div>
                        <!--Botones guardar volver-->
                        <div class="form-group row d-flex justify-content-center mx-auto mt-5">
                            <button type="submit" class="btn btn-dark col-8 border-0 rounded-0">Guardar paciente</button>
                        </div>
                        <div class="form-group row d-flex justify-content-center mx-auto">
                            <a href="/patients" class=" text-decoration-none text-body col-12 text-center pl-0">Volver</a>
                        </div>
                        
                        
                        
                    </form>
                </article>
            </div>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>