<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/master.css">
<body>
<div class="mt-4 logo"><img  src="/images/logo.png" alt=""></div>

<div class="contact-section section-padding mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mt-5">
                <div class="section-title">
                    <h2 class="mt-4">Ingresa tus datos</h2>
                </div>
                <div class="row">
                    
            <div class="col-lg-12">
                <div class="contact-form">
                    
                    <form name="contact-form" id="contactForm" action="/login" method="POST" class="mt-5">
                        <input type="email" name="email" id="email" ="" placeholder="Email" class="form-control  form-control-lg">
                            <% if(typeof errors != 'undefined' && errors.email){%>
                                <span style="background-color: cornsilk;" class="text-danger mb-1" > <%=errors.email.msg %></span>
                            <%}%>
                        <input type="password" name="contraseña" id="password" ="" placeholder="Contraseña" class="mt-4 form-control  form-control-lg">
                        <% if(typeof errors != 'undefined' && errors.contraseña){%>
                            <span style="background-color: cornsilk;" class="text-danger mb-1" > <%=errors.contraseña.msg %></span>
                        <%}%>
                        <button type="submit" class="btn btn-dark mt-5">INICIAR SESIÓN</button>
                        
                    </form>
                    <a class="btn btn-secondary mt-5 " href="/forgetpassword">Olvidé mi contraseña</a> 
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>











<!-- FOOTER -->
<%- include('../partials/footer.ejs') %>
</body>
</html>
