        <!DOCTYPE html>
          <html>
            <%- include('../partials/head.ejs') %>
          <link rel="stylesheet" href="/css/master.css">
        <body>
          <div class="mt-4 logo"><img class="" src="/images/logo.png" alt=""></div>
          <div class="text-center mt-4"><h1>Sistema de gestión</h1></div>
           <!--Formulario-->
          <form class="mt-5" action="/login" method="POST" id="formulario">
              <div class="form-group  d-flex justify-content-center mb-0 input">
                <input type="text" name="email" placeholder="Email" class="form-control mb-2 ">
              </div>      
              <div class="form-group  d-flex justify-content-center mt-0 mb-1">
                <% if(typeof errors != 'undefined' && errors.email){%>
                <span style="background-color: cornsilk;" class="text-danger mb-1" > <%=errors.email.msg %></span>
                <%}%>
              </div>
              <div class="form-group  d-flex justify-content-center mb-0 input">
                <input type="password" name="contraseña" placeholder="Contraseña" class="form-control mb-2  ">
             </div> 
             <div class="form-group   mt-0 mb-1">
               <% if(typeof errors != 'undefined' && errors.contraseña){%>
               <div class=" d-flex justify-content-center mb-1"> 
               <span style="background-color: cornsilk;" class="text-danger " > <%=errors.contraseña.msg %></span>
               </div>
               <%}%>
             </div> 
     
     
             <div>   
                <a href="/recover" class="text-decoration-none text-body text-center"><p class="olvide">OLVIDÉ MI CONTRASEÑA</p></a>
            </div> 
  
            <div class="form-group button">
               <button type="submit" class="btn btn-dark">INICIAR SESION</button>
            </div>
       

            </div>
        </form>









       

    <!-- FOOTER -->
<%- include('../partials/footer.ejs') %>
  </body>
</html>
