<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/css/master.css">
  <body>
    <div class="text-center mt-5"><img src="/images/logo.png" alt=""></div>
    <div class="text-center mt-5"><h2>Ingresa tu nueva contraseña</h2></div>
   <!--Formulario-->
   <% if(typeof(errors) != 'undefined'){%>
    <ul class="alert alert-danger">
      <% errors.forEach(error => { %>
        <li><%= error.msg%></li>
        <%});%>
    </ul>
  <%}%>
   <form class="mt-5" action="/updatepassword/<%= usuarios.id %>" method="POST" id="formulario">
        <div class="form-group col-12 d-flex justify-content-center mb-0">
            <input type="password" name="contraseña" placeholder="Nueva contraseña" class="form-control mb-2 datos-envio-input col-4" value="">
        </div>   
        <div class="form-group col-12 d-flex justify-content-center mb-0">
            <input type="password" name="confirmar_contraseña" placeholder="Repetir contraseña" class="form-control mb-2 datos-envio-input col-4" value="">
        </div>    
      
       
     <div class="ingresar">
        <div class="form-group w-60 d-flex justify-content-center">
           <button type="submit" class="btn btn-dark w-60 mt-4">CAMBIAR CONTRASEÑA</button>
        </div>
        <div class="form-group w-60 d-flex justify-content-center">
            <a href="/" class="btn btn-dark w-60">VOLVER</a>
         </div>
     </div>
        </form>