<html lang='en'>
  <head>
    <%- include('../partials/head.ejs') %>
    <meta charset='utf-8' />
    <script src='js/apointments.js'></script>
   
  </head>
     <body>
        <header>
            <%- include('../partials/navBar.ejs') %>
             </header>
 
  





    <%- include('../partials/footer.ejs') %>





  </body>
</html>