<html lang='en'>
  <head>
    <%- include('../partials/head.ejs') %>
    <meta charset='utf-8' />
    <script src='js/apointments.js'></script>
   
  </head>
     <body>
        <header>
            <%- include('../partials/navBar.ejs') %>
             </header>
             <a href="https://calendar.google.com/calendar/u/0/r?pli=1" target="_blank" class="btn btn-outline-dark mt-4 mb-4 ml-3">Añadir turno</a>
             <iframe class="w-100" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ecffff&amp;ctz=America%2FArgentina%2FBuenos_Aires&amp;src=Z29uemFsb21pZ2xpb3JlQGdtYWlsLmNvbQ&amp;color=%237986CB&amp;showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=1&amp;showCalendars=0&amp;showTz=0" style="border-width:0" width="1225" height="600" frameborder="0" scrolling="no"></iframe>


    <%- include('../partials/footer.ejs') %>





  </body>
</html>