<html lang='en'>
  <head>
    <%- include('../partials/head.ejs') %>
    <meta charset='utf-8' />
    <script src='js/apointments.js'></script>
   
  </head>
     <body>
        <header>
            <%- include('../partials/navBar.ejs') %>
             </header>
             <a href="https://calendar.google.com/calendar/u/0/r?pli=1" class="btn btn-outline-dark mt-4 mb-4 ml-3">Agregar turno</a>
             <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ecffff&amp;ctz=America%2FArgentina%2FBuenos_Aires&amp;src=Z29uemFsb21pZ2xpb3JlQGdtYWlsLmNvbQ&amp;color=%237986CB&amp;showTitle=0&amp;title" style="border:solid 1px #777" width="1220" height="600" frameborder="0" scrolling="no"></iframe>


    <%- include('../partials/footer.ejs') %>





  </body>
</html>