<header>
   <% if (locals.usuario.roles==9) {%>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center">
                <div class="col-4 d-flex justify-content-left ml-4 mt-1"><a href="/patients"><img class="logo" src="/images/logo.png" alt=""></a></div>
                <div class="col-6 d-flex justify-content-end align-items-center pr-4">
                    <a href="/AdminUsers" class="mr-3 mt-2 btn btn-light ">Administrar usuarios</a>
                    <!--Dropdown Administrar-->
                    <div class="dropdown d-flex pr-3 mt-2">
                        <button class="btn btn-light dropdown-toggle d-none d-md-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ver más
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                           
                            <a class="dropdown-item"href="/inteligent">Busqueda inteligente</a>  
                            <a class="dropdown-item"href="/turnos">Turnos</a> 
                             <a class="dropdown-item"href="/searchtreatments">Tratamientos</a> 
                             <a class="dropdown-item"href="/searchhistory">Historia clínica</a>     
                        </div>                         
                    </div> 
                    <!--Dropdown Usuario-->  
                    
                        <div class="dropdown d-flex pr-2 mt-2">
                            <button class="btn btn-light dropdown-toggle d-none d-md-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <%= locals.usuario.first_name + " " + locals.usuario.last_name%> 
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item"href="/profile">Mi perfil</a>  
                                <a class="dropdown-item"href="/logout">Cerrar sesión</a>        
                            </div>                         
                        </div>   
                         
                </div> 
            </div>
        </div>
        <%}else{%>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between align-items-center">
                        <div class="col-4 d-flex justify-content-left ml-4 mt-1"><a href="/patients"><img class="logo" src="/images/logo.png" alt=""></a></div>
                        <div class="col-4 d-flex justify-content-end align-items-center pr-4">
                            <!--Dropdown Administrar-->
                         
                            <div class="dropdown d-flex pr-3 mt-2">
                                <button class="btn btn-light dropdown-toggle d-none d-md-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ver más
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                   
                                    <a class="dropdown-item"href="/inteligent">Busqueda inteligente</a> 
                                    <a class="dropdown-item"href="/turnos">Turnos</a> 
                                     <a class="dropdown-item"href="/searchtreatments">Tratamientos</a> 
                                     <a class="dropdown-item"href="/searchhistory">Historia clínica</a>     
                                </div>                         
                            </div> 
                            <!--Dropdown Usuario-->  
                            
                                <div class="dropdown d-flex pr-2 mt-2">
                                    <button class="btn btn-light dropdown-toggle d-none d-md-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <%= locals.usuario.first_name + " " + locals.usuario.last_name%> 
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item"href="/profile">Mi perfil</a>  
                                        <a class="dropdown-item"href="/logout">Cerrar sesión</a>        
                                    </div>                         
                                </div>   
                                 
                        </div> 
                    </div>
                </div>
        <% } %>
</header>